{% extends 'base.html' %}
{% with request.GET.q as query %}

{% block main_content %}
    <div class="container">
        <div class="row  mb-3">
            {% if request.GET.q %}
            <div class="col-12">
                Results for <b>{{ request.GET.q }}</b>
            </div>
            {% else %}
                {% comment %} <div class="col-12 col-md-6 mx-auto py-4">
                    <input class="form-control" type="text" placeholder="Search">
                </div>  {% endcomment %}
                {% include "search/snippets/search_form.html" %}
            {% endif %}
        </div>
        <div class='col-12'>
            <hr>
        </div>

        <div class="row">
                {% for product in product_list %}
                <div class="col">
                    {% include "products/snippets/card.html" with instance=product only %}
                    {% comment %} <a href="{{ product.get_absolute_url }}">{{ product.title }}</a> -- {{ product.price}} <br> {% endcomment %}
                    {% if forloop.counter|divisibleby:2 %}
                        </div></div><div class="row"><div class="col-12"><hr/></div>
                    {% else %}
                        </div>
                    {% endif %}
                {% endfor %}
        </div>
    </div>
    

{% endblock main_content %}