{% extends 'base.html' %}
<title>Product List</title>
{% block main_content %}    
    <div class="container">       
        <div class="row"> 
                {% for product in product_list %} 
                <div class="col"> 
                    {{ forloop.counter }} 
                    {% include "products/snippets/card.html" with instance=product only %} 
                    {% comment %} <a href="{{ product.get_absolute_url }}">{{ product.title }}</a> -- {{ product.price}} <br> {% endcomment %} 
                    {% if forloop.counter|divisibleby:2 %}   
                        </div></div><div class="row"><div class="col-12"><hr/></div> 
                    {% else %} 
                        </div> 
                    {% endif %} 
                {% endfor %} 
        </div>
    </div>

{% endblock main_content %}
